// bower:scss
// endbower

$navbar-height: 64px;
$sidebar-width: 200px;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
// Custom page header
.header {
  border-bottom: 1px solid #e5e5e5;

  // Make the masthead heading the same height as the navigation
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

// Custom page footer
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

// Main marketing message and sign up button
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

// Supporting marketing content
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

// Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  // Remove the padding we set earlier
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  // Space out the masthead
  .header {
    margin-bottom: 30px;
  }
  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }
}
*/


// Custom styles
.container {
    margin-top: $navbar-height;
    padding-top: 32px;
}

.footer {
    margin: 0 !important;
    text-align: center;
}

.sidebar {
    // TODO make it responsive
    position: fixed;
    top: $navbar-height;
    height: 100%;
    width: $sidebar-width;
    z-index: 1;

    transition: right 0.3s ease-in-out;
    transform: translate3d(0,0,0);

    // closed by default
    right: -$sidebar-width;
}

.sidebar.open {
    right: 0;
}

#about-img-holder{
    max-width: 300px;
}

// Utility styles
.no-side-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.center {
    margin: auto;
}

// EXPERIMENTAL
// Undo responsive navbar
@media all{
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
    }
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .navbar-toggle {
        display: none;
    }
    .navbar > .container .navbar-brand {
        margin-left: -15px;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }
    .navbar-static-top {
        border-radius: 0;
    }
    .container > .navbar-header,
    .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-collapse .navbar-nav.navbar-left:first-child {
        margin-left: -15px;
    }
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
    .navbar-collapse .navbar-text:last-child {
        margin-right: 0;
    }
}
