<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Cabra Flashcards</title>
    <meta name="description" content="Free studynig app">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- custom styles -->
    <link rel="stylesheet" href="bower_components/bootswatch/paper/bootstrap.min.css" />
    <!-- end custom styles -->
  </head>
  <body ng-app="cabraApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <section ng-controller="NavCtrl as nav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <span class="navbar-left">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href ng-click="back()">
                                <span class="fa fa-lg fa-arrow-left"></span>
                            </a>
                        </li>
                    </ul>
                </span>

                <a class="navbar-brand" href="#/">
                    Cabra
                </a>

                <span class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href ng-click="toggleSidebar()">
                                <span class="fa fa-lg"
                                    ng-class="{'fa-bars': !isSidebarOpen(), 'fa-close': isSidebarOpen()}">
                                </span>
                            </a>
                        </li>
                    </ul>
                </span>

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <div class="sidebar panel panel-default panel-body well" ng-class="{ open: isSidebarOpen() }" ng-click="closeSidebar()">
            <ul class="nav lead">
                <li><a href="#/">Main</a></li>
                <li><a href="#/settings">Settings</a></li>
                <li><a href="#/about">About</a></li>

                <li>
                    <a href ng-click="clear()">
                        <span class="fa fa-bomb"></span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <div class="container">
      <div ng-view="">
          <!-- page content here -->
      </div>
    </div>

    <!-- End custom site content -->

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/settings.js"></script>
        <script src="scripts/controllers/deck.js"></script>
        <script src="scripts/controllers/deckstudy.js"></script>
        <script src="scripts/controllers/deckmanage.js"></script>
        <script src="scripts/controllers/deckcreate.js"></script>
        <script src="scripts/controllers/decknew.js"></script>
        <script src="scripts/services/decks.js"></script>
        <script src="scripts/services/settings.js"></script>
        <script src="scripts/controllers/nav.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/services/helpers.js"></script>
        <script src="scripts/directives/createcard.js"></script>
        <!-- endbuild -->
</body>
</html>
