<div ng-controller="AboutCtrl as about">
    <h2 class="text-center">Cabra {{version}}</h2>

    <ul ng-repeat="(key, value) in links">
        <a href="{{value.url}}" target="_blank">
            <span class="fa fa-{{value.icon}}"></span>
            {{key}}
        </a>
    </ul>





    <div class="well text-center">
        <p>Cabra Flashcards, &copy; 2011 &mdash; {{date | date:'yyyy'}}</p>
        <p>Made with <span class="fa fa-heart"></span> in <a href="http://hathix.com">Cambridge, MA</a></p>
    </div>
</div>
