<div ng-controller="DeckmanageCtrl as deckCtrl">
    <h3>Manage cards</h3>

    <table class="table table-striped">
        <tr ng-repeat="card in deck.cards | orderBy: 'question'">
            <td>
                {{card.question}}
            </td>
            <td>
                {{card.answer}}
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteCard(card)">
                    Delete
                </button>
            </td>
        </tr>
    </table>


    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Card</h4>
                </div>
                <div class="modal-body">
                    <create-card></create-card>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
