<div ng-controller="DeckCtrl as deckCtrl">
    <h3 ng-hide="isEditing()">
        {{deck.name}}
        <small>{{deck.description}}</small>
        <button ng-click="setEditing(true)" class="btn btn-default">
            Edit
        </button>
    </h3>
    <h3 ng-show="isEditing()">
        <form ng-model="deck" ng-submit="saveDeck()" class="form form-inline">
            <input type="text" class="form-control input-lg" ng-model="deck.name" placeholder="Name">
            <input type="text" class="form-control" ng-model="deck.description" placeholder="Description">
            <button type="submit" class="btn btn-primary">
                Done
            </button>
        </form>
    </h3>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" ng-repeat="(key, value) in subpages | orderBy: 'name'" ng-show="{{deck.cards.length}} || {{value.showIfEmpty}}">
            <a href="#deck/{{deck.id}}/{{value.url}}">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <span class="fa fa-{{value.icon}} fa-3x"></span>
                        <p class="lead">{{key}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
