
<div ng-controller="MainCtrl as main">
    <div class="row" ng-show="settings.view.deckViewType == 'cards'">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="deck in decks.list | orderBy: 'name'">
            <a href="#/deck/{{deck.id}}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            {{deck.name}}
                        </h4>
                    </div>
                    <div class="panel-body">
                        {{deck.description}}
                    </div>
                </div>
            </a>
        </div>
    </div>

    <ul class="list-group" ng-show="settings.view.deckViewType == 'list'">
        <li class="list-group-item" ng-repeat="deck in decks.list | orderBy: 'name'">
            <a href="#/deck/{{deck.id}}">
                <span>{{deck.name}}</span>
                <span class="text-muted">{{deck.description}}</span>
            </a>
        </li>
    </ul>
</div>


<div ng-controller="DeckNewCtrl as deckCtrl">
    <form ng-model="deck" ng-submit="addDeck()" class="form">
        <h3>New deck</h3>
        <input type="text" class="form-control input-lg" ng-model="deck.name" placeholder="Name">
        <input type="text" class="form-control" ng-model="deck.description" placeholder="Description">
        <button type="submit" class="btn btn-primary">
            Add
        </button>
    </form>
</div>
